*{
    margin: 0;
    padding: 0;
}
html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
#gameBoard{
    width: 70%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
   gap: 1px;
   
}
.box{
    
    width: 33%;
    height: 33%;
    border: 1px solid brown;
}